* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

}

.page_404 {

    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);

    height: 600px;
    width: 100%;
    /* object-fit: cover; */

    background-position: center;
}





.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    border-radius: 15px;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -190px;
}

.contant_box_404 h5 {
    font-size: 80px;
    font-weight: 700;
}